
.centered{
   display: flex;   
   justify-content: center; 
   align-items: center;
}
.middle{
   display: flex;   
   justify-content: center; 
}
/*
#port > img {
   opacity: 0;
   display: fixed; 
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   height: 100%;
   width: 100%;
   z-index: -1;
   transition: all 1s;
}
#port > img.visible {
  opacity: 1;
}*/
