<div class="text-center p-8" id="portfolios">
  <div>
    <div class="text-gray-600 md:text-xl text-md">
      <span class="md:text-6xl text-3xl sc text-gray-600" >Our Portfolios</span>
      <mat-tab-group class="centered mt-8 lg:mx-18 mx-8">
        <mat-tab label="Website Development">
        <div class="p-4 bg-white shadow-md mt-5">
          <ngx-slides [slideImages]="web_links2" [config]="config"></ngx-slides>
        </div>
        </mat-tab>
        <mat-tab label="Illustrations">
        <div class="p-4 bg-white shadow-md mt-5">
          <ngx-slides [slideImages]="ill_links2" [config]="config2"></ngx-slides>
      </div>
        </mat-tab>
        <mat-tab label="GFX">
        <div class="p-4 bg-white shadow-md mt-5">
          <ngx-slides [slideImages]="gfx_links2" [config]="config2"></ngx-slides>
      </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
