<div class="text-center p-8 mb-24" id="about">
  <div>
    <div class="text-gray-600 md:text-xl text-md">
      <span class="md:text-6xl text-3xl pop font-semibold text-gray-600" >About Us</span>
      <hr class="m-4">
      <div class="md:grid xl:grid-cols-4 md:grid-cols-2">
      <div class="bg-white p-5 shadow-md rounded-sm m-4 hover:shadow-2xl ">
        <span class="bx bx-support p-3 text-yellow-500 bg-yellow-100 rounded-full mb-5"></span><br>
        The services offered by us are reliable, provided by skilled members in every field, and at the most suitable prices to help you grow your business faster.
      </div>
      <div class="bg-white p-5 shadow-md rounded-sm m-4 hover:shadow-2xl ">
        <span class="bx bx-line-chart p-3 text-blue-500 bg-blue-100 rounded-full mb-5"></span><br>
Apart from the services we provide, we also promote freelancers working under us, by assigning orders frequently, and advertising them everywhere we possibly can to make sure they grow, along with us.
      </div>
      <div class="bg-white p-5 shadow-md rounded-sm m-4 hover:shadow-2xl ">
        <span class="bx bx-group p-3 text-green-500 bg-green-100 rounded-full mb-5"></span><br>
Our freelancers are exceptionally skilled in their field of expertise, and are rightly chosen to rightfully represent the best that we can do. If you have any queries feel free to email us anytime at services.aether@gmail.com. 
      </div>
      <div class="bg-white p-5 shadow-md rounded-sm m-4 hover:shadow-2xl ">
        <span class="bx bx-donate-heart p-3 text-red-500 bg-red-100 rounded-full mb-5"></span><br>
Since we also love to give back to society for the help they have provided us with, we donate a sizable portion of our earnings to charities as a form of philanthropy.
      </div>
      </div>
    </div>
  </div>
</div>
