<div class="p-8 mb-16 text-center" id="about">
  <div>
    <div class="text-gray-600 text-md">
      <span class="text-3xl text-gray-600 md:text-6xl sc" >About Us</span>
      <hr class="m-4">
      <div class="sm:grid xl:grid-cols-4 sm:grid-cols-2">
      <div class="p-5 m-4 bg-white rounded-sm shadow-md hover:shadow-2xl ">
        <span class="px-4 py-3 mb-3 text-sm text-yellow-500 bg-yellow-100 rounded-full bx bx-support md:text-lg"></span><br>
        <span class="text-gray-700 sc md:text-lg text-md">Reliability</span><br>
        <hr class="my-3">
        The services offered by us are reliable, provided by skilled members in every field, and at the most suitable prices to help you grow your business faster.
      </div>
      <div class="p-5 m-4 bg-white rounded-sm shadow-md hover:shadow-2xl ">
        <span class="px-4 py-3 mb-3 text-sm text-blue-500 bg-blue-100 rounded-full bx bx-line-chart md:text-lg"></span><br>
        <span class="text-gray-700 sc md:text-lg text-md">Growth</span><br>
        <hr class="my-3">
Apart from the services we provide, we also promote freelancers working under us, by assigning orders frequently, and advertising them everywhere we possibly can to make sure they grow, along with us.
      </div>
      <div class="p-5 m-4 bg-white rounded-sm shadow-md hover:shadow-2xl ">
        <span class="px-4 py-3 mb-3 text-sm text-green-500 bg-green-100 rounded-full bx bx-group md:text-lg"></span><br>
        <span class="text-gray-700 sc md:text-lg text-md">Experience</span><br>
        <hr class="my-3">
Our freelancers are exceptionally skilled in their field of expertise, and are rightly chosen to rightfully represent the best that we can do. If you have any queries feel free to email us anytime at services.aether@gmail.com. 
      </div>
      <div class="p-5 m-4 bg-white rounded-sm shadow-md hover:shadow-2xl ">
        <span class="px-4 py-3 mb-3 text-sm text-red-500 bg-red-100 rounded-full bx bx-donate-heart md:text-lg"></span><br>
        <span class="text-gray-700 sc md:text-lg text-md">Community</span><br>
        <hr class="my-3">
Since we also love to give back to society for the help they have provided us with, we donate a sizable portion of our earnings to charities as a form of philanthropy.
      </div>
      </div>
    </div>
  </div>
</div>
