<div class="p-8 mb-24 text-center" id="order">
  <div>
    <div class="text-gray-600 md:text-xl text-md">
      <span class="text-3xl text-gray-600 md:text-6xl sc" >Order</span>
      <hr class="m-4">
      <br>
        <select class="w-1/2 px-4 py-3 mb-4 bg-white shadow " [(ngModel)]="service">
          <option value="" disabled selected hidden>Service</option>
          <option value="Web Development">Web Development</option>
          <option value="UI-UX Design">UI-UX Design</option> 
          <option value="App Development">App Development</option> 
          <option value="Social Media Management">Social Media Management</option> 
          <option value="Graphic Design">Graphic Design</option> 
          <option value="Data Entry">Data Entry</option> 
          <option value="Video Editing">Video Editing</option> 
          <option value="Marketing Services">Marketing Services</option> 
          <option value="AI Chatbots and Discord Bots">AI Chatbots and Discord Bots</option> 
          <option value="Content Writing">Content Writing</option> 
          <option value="Illustrations">Illustrations</option> 
        </select>
        <br>
        <input type="text" class="w-1/2 px-4 py-3 mb-4 bg-white rounded-sm shadow" placeholder="Budget" [(ngModel)]="budget"><br>
        <textarea type="text" class="w-1/2 px-4 py-3 mb-4 bg-white rounded-sm shadow" placeholder="Description" [(ngModel)]="desc" rows=8> </textarea>
        <br>
        <button *ngIf="user" class="px-4 py-3 text-purple-500 bg-white border-2 border-purple-500 rounded-sm shadow hover:shadow-xl focus:outline-none hover:bg-purple-500 hover:text-white" (click)="submit()">Order</button>
        <button *ngIf="!user" class="px-4 py-3 text-purple-500 bg-white border-2 border-purple-500 rounded-sm shadow hover:shadow-xl focus:outline-none hover:bg-purple-500 hover:text-white" (click)="doGoogleLogin()">Sign In With Google to Order</button>
      </div>
  </div>
</div>
