<div class="text-center p-8 mb-24" id="testimonials">
  <div>
    <div class="text-gray-600 md:text-lg text-sm">
      <span class="md:text-6xl text-3xl sc text-gray-600" >Testimonials</span>
      <hr class="m-4">
      <div class="sm:grid sm:grid-cols-2 lg:gap-8">
      <div class="text-gray-600 bg-white p-5 shadow-md rounded-md m-4 hover:shadow-2xl text-left">
        <span class="centered"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.flaticon.com%2Ficons%2Fpng%2F512%2F146%2F146031.png&f=1&nofb=1" alt="User" class="rounded-full w-24 shadow-xl"></span><br>
        "They made a bot AND a website for me and created it exceptionably well. They added all the stuff i asked for, and even made improvements for them making it 10x better looking. If you want to get a bot or website delivered quickly with free hosting, be sure to hire these guys, because they know what they are doing. Trust me i aint lying - great service 10/10" 
        <span class="text-gray-800 font-bold float-right">Deceive #0001</span>
      </div>
      <div class="text-gray-600 bg-white p-5 shadow-md rounded-md m-4 hover:shadow-2xl text-left">
        <span class="centered"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.flaticon.com%2Ficons%2Fpng%2F512%2F146%2F146022.png&f=1&nofb=1" alt="User" class="rounded-full w-24 shadow-xl"></span><br>
        "Very satisfied with the bot they made for me. Had everything that I requested, and they always communicated with me whenever they had doubts regarding definitions or what certain commands were supposed to do. They completed the bot very quickly and efficiently, and their service also came complete with set-up help as well, which is very nice. Will definitely recommend to anyone."
        <span class="text-gray-800 font-bold float-right">kura_riki #1139</span>
      </div>

      <div class="text-gray-600 bg-white p-5 shadow-md rounded-md m-4 hover:shadow-2xl text-left">
        <span class="centered"><img src="https://image.flaticon.com/icons/png/512/3135/3135715.png" alt="User" class="rounded-full w-24 shadow-xl"></span><br>
        "10/10 Extremely happy with the project with Multiii he gave me a lot of support in the bot development, helpful suggestions and feedback for features and usability, was very professional, reasonable and accommodating in helping me implement features which weren't even discussed in the original specs! even helped me with a remote session to help troubleshoot and host the bot. I will definitely be working with him in future as well! Thanks Multiii"
        <span class="text-gray-800 font-bold float-right">Damon #6969</span>
      </div>
      <div class="text-gray-600 bg-white p-5 shadow-md rounded-md m-4 hover:shadow-2xl text-left">
        <span class="centered"><img src="https://image.flaticon.com/icons/png/512/4905/4905253.png" alt="User" class="rounded-full w-24 shadow-xl"></span><br>
        "Multiii made my bot. Honestly it was incredible, and a way faster process than I imagined. They were super thorough in checking that the bot worked and let me test each feature. I will be referring anyone who needs a custom bot made to them, and am overall super impressed. I wish them the best in their future endeavors, and may even come back if I need logos and banners made on top of more bots. Thank you so much multi!!"
        <span class="text-gray-800 font-bold float-right">aly #0012</span>
      </div>
      </div>
      <!--
      <div class="md:grid xl:grid-cols-2 md:grid-cols-1" *ngFor="let testimony of testimonies">
      <div class="text-gray-600 bg-white p-5 shadow-md rounded-md m-4 hover:shadow-2xl text-left">
        {{testimony.desc}}
        <span class="text-gray-800 font-bold float-right">{{testimony.name}}</span>
      </div>
      </div>
      -->
    </div>
  </div>
</div>
