<div class="text-center p-8 mb-24" id="testimonials">
  <div>
    <div class="text-gray-600 md:text-lg text-sm">
      <span class="md:text-6xl text-3xl pop font-semibold text-gray-600" >Testimonials</span>
      <hr class="m-4">
      <div class="md:grid xl:grid-cols-2 md:grid-cols-1">
      <div class="text-purple-500 border-2 border-purple-500 bg-white p-5 shadow-md rounded-sm m-4 centered hover:shadow-2xl hover:bg-purple-400 hover:text-white hover:border-white">
        "They made a bot AND a website for me and created it exceptionably well. They added all the stuff i asked for, and even made improvements for them making it 10x better looking. If you want to get a bot or website delivered quickly with free hosting, be sure to hire these guys, because they know what they are doing. Trust me i aint lying - great service 10/10" - Deceive #0001

      </div>
      <div class="text-indigo-500 bg-white border-2 border-indigo-500 p-5 shadow-md rounded-sm m-4 centered hover:shadow-2xl hover:bg-indigo-500 hover:text-white hover:border-white">
        "Very satisfied with the bot they made for me. Had everything that I requested, and they always communicated with me whenever they had doubts regarding definitions or what certain commands were supposed to do. They completed the bot very quickly and efficiently, and their service also came complete with set-up help as well, which is very nice. Will definitely recommend to anyone." - kura_riki #1139
      </div>
      </div>
    </div>
  </div>
</div>
