<div class="bg-white text-gray-600 lg:px-24 md:px-16 px-8 py-4 text-lg shadow-md title hide-on-small nav">
  <span class="hover:text-blue-600 text-xl">Ace Web Services</span>
  <span class="float-right">
    <a (click)='scrollTo("home")' class="px-3 py-2 rounded-md hover:bg-gray-100 hover:text-blue-500 lg:ml-4 md:ml-2">
      Home
    </a>
    <a (click)='scrollTo("about")' class="px-3 py-2 rounded-md hover:bg-gray-100 hover:text-blue-500 lg:ml-4 md:ml-2">
      About 
    </a>
    <a (click)='scrollTo("services")' class="px-3 py-2 rounded-md hover:bg-gray-100 hover:text-blue-500 lg:ml-4 md:ml-2">
      Services
    </a>
    <a (click)='scrollTo("order")' class="px-3 py-2 rounded-md hover:bg-gray-100 hover:text-blue-500 lg:ml-4 md:ml-2">
      Order
    </a>
  </span>
</div>

