<div class="px-8 py-4 text-lg text-gray-600 bg-white shadow-md lg:px-24 md:px-8 title hide-on-small nav">
  <span class="text-2xl hover:text-purple-600 pop">aether</span>
  <span class="float-right">
    <a (click)='scrollTo("home")' class="px-3 py-2 rounded-md hover:bg-gray-100 hover:text-purple-500 lg:ml-4 md:ml-2">
      Home
    </a>
    <a (click)='scrollTo("about")' class="px-3 py-2 rounded-md hover:bg-gray-100 hover:text-purple-500 lg:ml-4 md:ml-2">
      About 
    </a>
    <a (click)='scrollTo("services")' class="px-3 py-2 rounded-md hover:bg-gray-100 hover:text-purple-500 lg:ml-4 md:ml-2">
      Services
    </a>
    <a (click)='scrollTo("portfolios")' class="px-3 py-2 rounded-md hover:bg-gray-100 hover:text-purple-500 lg:ml-4 md:ml-2">
      Portfolios 
    </a>
    <a (click)='scrollTo("testimonials")' class="px-3 py-2 rounded-md hover:bg-gray-100 hover:text-purple-500 lg:ml-4 md:ml-2">
      Testimonials
    </a>
    <a (click)='scrollTo("order")' class="px-3 py-2 rounded-md hover:bg-gray-100 hover:text-purple-500 lg:ml-4 md:ml-2">
      Order
    </a>
  </span>
</div>
