<div class="text-center p-8" id="services">
  <div>
    <div class="text-gray-600 md:text-xl text-md">
      <span class="md:text-6xl text-3xl pop font-semibold text-gray-600" >Our Services</span>
      <hr class="m-4">
      <!--
      <div class="md:grid xl:grid-cols-4 md:grid-cols-2">
      <div class="bg-white p-5 shadow-md rounded-sm m-4 centered hover:shadow-2xl">
        <img src="https://media.discordapp.net/attachments/756897742093287435/844868421827952660/webdev.png?width=408&height=408" alt="Web Development">
      </div>
      <div class="bg-white p-5 shadow-md rounded-sm m-4 centered hover:shadow-2xl">
        <img src="https://media.discordapp.net/attachments/756897742093287435/844869230117650452/uiux.png?width=408&height=408" alt="UI - UX Design">
      </div>
      <div class="bg-white p-5 shadow-md rounded-sm m-4 centered hover:shadow-2xl">
        <img src="https://media.discordapp.net/attachments/756897742093287435/844869841990582272/appdev.png?width=408&height=408" alt="App Development">
      </div>
      <div class="bg-white p-5 shadow-md rounded-sm m-4 centered hover:shadow-2xl">
        <img src="https://media.discordapp.net/attachments/756897742093287435/844870492413493248/smm.png?width=408&height=408" alt="Social Media Management">
      </div>
      <div class="bg-white p-5 shadow-md rounded-sm m-4 centered hover:shadow-2xl">
        <img src="https://media.discordapp.net/attachments/756897742093287435/844874364977414184/gd_1.png?width=408&height=408" alt="Graphic Design">
      </div>
      <div class="bg-white p-5 shadow-md rounded-sm m-4 centered hover:shadow-2xl">
        <img src="https://media.discordapp.net/attachments/756897742093287435/844871948270043156/de.png?width=408&height=408" alt="Data entry">
      </div>
      <div class="bg-white p-5 shadow-md rounded-sm m-4 centered hover:shadow-2xl">
        <img src="https://media.discordapp.net/attachments/756897742093287435/844872512092373012/ve.png?width=408&height=408" alt="Video Editing">
      </div>
      <div class="bg-white p-5 shadow-md rounded-sm m-4 centered hover:shadow-2xl">
        <img src="https://media.discordapp.net/attachments/756897742093287435/844873306011992075/ms.png?width=408&height=408" alt="Marketing Services">
      </div>
      <div class="bg-white p-5 shadow-md rounded-sm m-4 centered hover:shadow-2xl">
        <img src="https://media.discordapp.net/attachments/756897742093287435/844873938092949525/bot.png?width=408&height=408" alt="AI Chatbots and Discord Bots">
      </div>
      <div class="bg-white p-5 shadow-md rounded-sm m-4 centered hover:shadow-2xl">
        <img src="https://media.discordapp.net/attachments/756897742093287435/844874895782313994/cw.png?width=408&height=408" alt="Content Writing">
      </div>
      <div class="bg-white p-5 shadow-md rounded-sm m-4 centered hover:shadow-2xl">
        <img src="https://media.discordapp.net/attachments/756897742093287435/844875506733809674/ill.png?width=408&height=408" alt="">
      </div>
      </div>
      -->
      <div class="bg-white p-5 shadow-md rounded-sm lg:mx-24 md:mx-14 mx-8 my-4 centered hover:shadow-2xl">
        <button class="material-icons focus:outline-none p-4 rounded-full bg-gray-100 shadow-md" (click)="prev()">navigate_before</button>
        <img [src]="src" alt="">
        <button class="material-icons focus:outline-none p-4 rounded-full bg-gray-100 shadow-md" (click)="next()">navigate_next</button>
      </div>
    </div>
  </div>
</div>
